.hamburger {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
}

/* .hamburger:hover:not(:active) {
  opacity: .7;
}

.hamburger.is-active:hover:not(:active) {
  opacity: .7;
} */

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: var(--dark);
}

.hamburger__box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 23px;
}

.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--dark);
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger__inner {
  top: auto;
  bottom: 0;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .13s;
}

.hamburger--collapse .hamburger__inner::after {
  top: -20px;
  transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear;
}

.hamburger--collapse .hamburger__inner::before {
  transition: top .12s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19);
}

.hamburger--collapse.is-active .hamburger__inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--collapse.is-active .hamburger__inner::after {
  top: 0;
  opacity: 0;
  transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .22s linear;
}

.hamburger--collapse.is-active .hamburger__inner::before {
  top: 0;
  transition: top .1s .16s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .25s cubic-bezier(.215, .61, .355, 1);
  transform: rotate(-90deg);
}
