.how {
  padding-top: 50px;
  padding-bottom: 50px;
}

.how__title {
  margin-bottom: 50px;
}

@media (max-width: 1280px) {
  .how {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .how {
    padding-top: 30px;
  }

  .how__title {
    margin-bottom: 16px;
  }
}
