body {
  font-family: Arial, sans-serif;
  /* color: white; */
  border-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.header {
  text-align: center;
  color: #333;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  border-radius: 8px;
}

.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-form {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  /* border: none; */
  border-color: #6c757d;
  border-radius: 8px;
}

.input-form:hover {
  border-color: black;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-form:hover,
.btn-completed:hover {
  background-color: green;
}

.btn-non-completed:hover {
  background-color: red;
}

.filter-buttons {
  display: flex;
  gap: 10px; /* Расстояние между кнопками */
  margin-bottom: 20px
}

.btn-filter {
  background-color: #6c757d;
  color: #fff;
  flex: 1
}

.btn-filter.active {
  background-color: #343a40;
}

.task-list {
  padding: 0;
  list-style: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f4ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.task-completed {
  text-decoration: line-through;
  color: #888;
}

.btn-delete-task {
  background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px
}

.btn-delete-task:hover {
  background-color: #c82333;
}

.btn-completed-task {
  background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px
}

.btn-completed-task:hover {
  background-color: #218838;
}
